In [1]:
import sqlite3
from sqlite3 import Error
from pathlib import Path
import subprocess
import pandas as pd
from pandas import da

In [72]:
def create_connection(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
        
    return conn

Define a Funtion for creating tables that takes a sql statement as input

In [73]:
def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

In [74]:
# def select_all_tables(conn):
#     """
#     Query all rows in the tasks table
#     :param conn: the Connection object
#     :return:
#     """
#     cur = conn.cursor()
#     cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
#     print(cur.fetchall())
# #     cur.execute("SELECT * FROM tasks")

# #     rows = cur.fetchall()

# #     for row in rows:
# #         print(row)

In [75]:
# def select_all_tasks(conn):
#     """
#     Query all rows in the tasks table
#     :param conn: the Connection object
#     :return:
#     """
#     cur = conn.cursor()
#     cur.execute("SELECT * FROM TestData")

#     rows = cur.fetchall()

#     for row in rows:
#         print(row)

In [76]:
# -- projects table
# CREATE TABLE IF NOT EXISTS projects (
# 	id integer PRIMARY KEY,
# 	name text NOT NULL,
# 	begin_date text,
# 	end_date text
# );

# -- tasks table
# CREATE TABLE IF NOT EXISTS tasks (
# 	id integer PRIMARY KEY,
# 	name text NOT NULL,
# 	priority integer,
# 	project_id integer NOT NULL,
# 	status_id integer NOT NULL,
# 	begin_date text NOT NULL,
# 	end_date text NOT NULL,
# 	FOREIGN KEY (project_id) REFERENCES projects (id)
# );

In [77]:
# def create_table(conn, create_table_sql):
#     """ create a table from the create_table_sql statement
#     :param conn: Connection object
#     :param create_table_sql: a CREATE TABLE statement
#     :return:
#     """
#     try:
#         c = conn.cursor()
#         c.execute(create_table_sql)
#     except Error as e:
#         print(e)

In [78]:
# def main():
#     database = r"C:\sqlite\db\pythonsqlite.db"

#     sql_create_projects_table = """ CREATE TABLE IF NOT EXISTS projects (
#                                         id integer PRIMARY KEY,
#                                         name text NOT NULL,
#                                         begin_date text,
#                                         end_date text
#                                     ); """

#     sql_create_tasks_table = """CREATE TABLE IF NOT EXISTS tasks (
#                                     id integer PRIMARY KEY,
#                                     name text NOT NULL,
#                                     priority integer,
#                                     status_id integer NOT NULL,
#                                     project_id integer NOT NULL,
#                                     begin_date text NOT NULL,
#                                     end_date text NOT NULL,
#                                     FOREIGN KEY (project_id) REFERENCES projects (id)
#                                 );"""

#     # create a database connection
#     conn = create_connection(database)

#     # create tables
#     if conn is not None:
#         # create projects table
#         create_table(conn, sql_create_projects_table)

#         # create tasks table
#         create_table(conn, sql_create_tasks_table)
#     else:
#         print("Error! cannot create the database connection.")

In [79]:
# if __name__ == '__main__':
#     main()

In [80]:
# db_name = Path('pythonsqlite.db').resolve()
# csv_file = Path('D:\Projects\CoronaWatch_DataMart\Data\data.csv').resolve()
# result = subprocess.run(['sqlite3',
#                          str(db_name),
#                          '-cmd',
#                          '.mode csv',
#                          '.import --skip 1 ' + str(csv_file).replace('\\','\\\\')
#                                  +'Data'],
#                         capture_output=True)

DDL Statements

In [81]:
# Create Location Dimension Table

Create_LocationTable = """ CREATE TABLE IF NOT EXISTS Location (
                                        L_ID integer PRIMARY KEY NOT NULL,
                                        Region text,
                                        Country text NOT NULL,
                                        Population integer
                                    ); """

In [82]:
# Create Time Dimension Table

Create_TimeTable = """ CREATE TABLE IF NOT EXISTS Time (
                                        T_ID integer PRIMARY KEY NOT NULL,
                                        Year integer NOT NULL,
                                        Month integer,
                                        Week integer NOT NULL
                                    ); """

In [83]:
# Create Vaccine Dimension Table

Create_VaccineTable = """ CREATE TABLE IF NOT EXISTS Vaccine (
                                        Vac_ID integer PRIMARY KEY NOT NULL,
                                        Name text NOT NULL
                                    ); """

In [84]:
# Create Source Dimension Table

Create_SourceTable = """ CREATE TABLE IF NOT EXISTS Source (
                                        S_ID integer PRIMARY KEY NOT NULL,
                                        Name text NOT NULL
                                    ); """

In [85]:
# Create Indicator Dimension Table

Create_IndicatorTable = """ CREATE TABLE IF NOT EXISTS Indicator (
                                        I_ID integer PRIMARY KEY NOT NULL,
                                        Name text NOT NULL
                                    ); """

In [86]:
# Create Taget_Group Dimension Table

Create_TargetGroupTable = """ CREATE TABLE IF NOT EXISTS Target_Group (
                                        Trg_ID integer PRIMARY KEY NOT NULL,
                                        AgeRange text NOT NULL
                                    ); """

In [96]:
# Create ICU Fact Table

Create_ICUTable = """ CREATE TABLE IF NOT EXISTS ICU (
                                        L_ID integer  NOT NULL,
                                        T_ID integer NOT NULL,
                                        I_ID int,
                                        S_ID int,
                                        IcuCases int,
                                        PRIMARY KEY(L_ID, T_ID),
                                        FOREIGN KEY (L_ID) REFERENCES Location (L_ID),
                                        FOREIGN KEY (T_ID) REFERENCES Time (T_ID),
                                        FOREIGN KEY (S_ID) REFERENCES Source (S_ID),
                                        FOREIGN KEY (I_ID) REFERENCES Indicator (I_ID)
                                    ); """

In [88]:
# Create Vaccination Fact Table

Create_VaccinationTable = """ CREATE TABLE IF NOT EXISTS Vaccination (
                                        L_ID integer  NOT NULL,
                                        T_ID integer NOT NULL,
                                        Vac_ID integer NOT NULL,
                                        Trg_ID integer NOT NULL,
                                        DosesReceived int,
                                        FirstDose int,
                                        SecondDose int,
                                        ThirdDose int,
                                        PRIMARY KEY(L_ID, T_ID, Vac_ID, Trg_ID),
                                        FOREIGN KEY (L_ID) REFERENCES Location (L_ID),
                                        FOREIGN KEY (T_ID) REFERENCES Time (T_ID),
                                        FOREIGN KEY (Vac_ID) REFERENCES Vaccine (Vac_ID),
                                        FOREIGN KEY (Trg_ID) REFERENCES Target_Group (Trg_ID)
                                    ); """

In [94]:
# Create Pandemic Fact Table

Create_PandemicTable = """ CREATE TABLE IF NOT EXISTS Pandemic (
                                        L_ID integer  NOT NULL,
                                        T_ID integer NOT NULL,
                                        CurrentCases int,
                                        NewCases int,
                                        Deaths int,
                                        Recovered int,
                                        PRIMARY KEY(L_ID, T_ID),
                                        FOREIGN KEY (L_ID) REFERENCES Location (L_ID),
                                        FOREIGN KEY (T_ID) REFERENCES Time (T_ID)
                                    ); """

In [90]:
# if __name__ == '__main__':
#     con = create_connection(r"Corona_DWH.db")
# #     select_all_tables(con)
# #     select_all_tasks(con)
#     if con:
#             con.close()

In [97]:
if __name__ == '__main__':
    con = create_connection(r"Corona_DWH.db")
    
    create_table(con, Create_LocationTable)
    create_table(con, Create_TimeTable)
    create_table(con, Create_VaccineTable)
    create_table(con, Create_VirusTable)
    create_table(con, Create_TargetGroupTable)
    create_table(con, Create_ICUTable)
    create_table(con, Create_VaccinationTable)
    create_table(con, Create_PandemicTable)
    create_table(con, Create_SourceTable)
    create_table(con, Create_IndicatorTable)

    
    if con:
            con.close()

2.6.0

In [2]:
test = pd.read_csv("Data\Covid_Virus_Variants.csv")

C:\Users\BlackDEATH\AppData\Local\Temp\ipykernel_1080\192910360.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  test = pd.read_csv("Data\Covid_Virus_Variants.csv")

In [3]:
test.head(10)

,country,country_code,year_week,source,new_cases,number_sequenced,percent_cases_sequenced,valid_denominator,variant,number_detections_variant,number_sequenced_known_variant,percent_variant
0,Austria,AT,2020-01,GISAID,NaN,0,0.0,True,Other,0,0,NaN
1,Austria,AT,2020-01,GISAID,NaN,0,0.0,True,XBB.1.5,0,0,NaN
2,Austria,AT,2020-01,GISAID,NaN,0,0.0,True,B.1.351,0,0,NaN
3,Austria,AT,2020-01,GISAID,NaN,0,0.0,True,B.1.617.2,0,0,NaN
4,Austria,AT,2020-01,GISAID,NaN,0,0.0,True,B.1.1.7,0,0,NaN
5,Austria,AT,2020-01,GISAID,NaN,0,0.0,True,B.1.427/B.1.429,0,0,NaN
6,Austria,AT,2020-01,GISAID,NaN,0,0.0,True,B.1.525,0,0,NaN
7,Austria,AT,2020-01,GISAID,NaN,0,0.0,True,B.1.616,0,0,NaN
8,Austria,AT,2020-01,GISAID,NaN,0,0.0,True,B.1.617.1,0,0,NaN
9,Austria,AT,2020-01,GISAID,NaN,0,0.0,True,B.1.620,0,0,NaN